<h1>论坛相关内容</h1>
<div>
	<div style="display:inline;"><%= link_to "论坛核心用户", bbs_core_customer_clicks_path%></div>
	<div style="display:inline;"><%= link_to "论坛管理员", bbs_admin_admin_path%></div>
	<div style="display:inline;"><%= link_to "YY推广", bbs_admin_admin_path%></div>
</div>