    <div id="featured">
      <h3>欢迎使用小马网络部系统</h3>
      <p>一个足球队场上11人</p>
      <p>那么,只有4个人明白哪个是自己的球门,</p>
      <p>只有2个球员关心比赛</p>
      <p>只有2个球员知道自己的位置,知道自己该做些什么</p>
      <p>只有4个球员觉得比分和自己有关</p>
      <p>只有4个球员喜欢自己的球队</p>
      <input type="button" value="Read more" onClick="parent.location='<%= home_introduction_url %>'"/>
    </div>