<div class="blog">
	<p>思考--总结--目标--团结:</p>
	<p>&nbsp;</p>
	<p>以下是对2w多个从业人员的调查结果统计</p>
	<p>1 只有37%的人说他们清晰理解其组织的目标及其原因</p>
	<p>2 只有1/5的人对于他们组织或团队的目标有热情</p>
	<p>3 只有1/5的人说他们清楚自己的任务和其组织或者团队的目标之间的关系</p>
	<p>4 只有1/2的人到了周末对自己的业绩赶到满意</p>
	<p>5 只有15%的人认为他们的组织让自己放开手脚去完成关键任务</p>
	<p>6 只有15%的人觉得自己在工作中受到了充分的信任</p>
	<p>7 只有17%的人觉得他们的组织鼓励坦诚的沟通,尊重不同意见并产生新的更好的想法</p>
	<p>8 只有10%的人觉得他们的组织让雇员为其结果负责</p>
	<p>9 只有20%的人任务完全信任自己的组织</p>
	<p>10 只有13%的人与其它小组或者其它部门保持充分的信任,相互合作的关系</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>举个例子,如果一个足球队的调查结果也是这样的话</p>
	<p>一个足球队场上11人</p>
	<p>那么,只有4个人明白哪个是自己的球门,</p>
	<p>只有2个球员关心比赛</p>
	<p>只有2个球员知道自己的位置,知道自己该做些什么</p>
	<p>只有4个球员觉得比分和自己有关</p>
	<p>只有4个球员喜欢自己的球队</p>
</div>