<div class="grid_12">
      	<div class="bottom-spacing">
          
              
              <div class="float-left">
                  <a href="<%= admin_roles_path %>" class="button">
                    <span>返回</span>
                  </a>
              </div>

              <div class="float-left">
                  <a href="<%= admin_role_path(@role) %>" class="button">
                    <span>查看</span>
                  </a>
              </div>
              
              
              
          </div>
      </div>

<%= render 'form' %>