<script type="text/javascript" charset="utf-8">
  jQuery(document).ready(function(){
    // binds form submission and fields to the validation engine
    jQuery("#new_user").validationEngine();
  });

</script>			

			<div class="grid_12">
            	<div class="bottom-spacing">
                
                    
                    <div class="float-left">
                        <a href="<%= admin_users_path %>" class="button">
                          <span>返回</span>
                        </a>
                    </div>
                    
                    
                    
                </div>
            </div>

<%= render 'form' %>


